
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #333;
}

.image-container {
    margin-top: 20px;
}

#vangoghImage {
    width: 300px;
    height: auto;
    cursor: pointer;
    border: 5px solid #333;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

#vangoghImage:hover {
    transform: scale(1.1);
}

.hidden {
    display: none;
}

#vangoghText {
    font-size: 1.5em;
    margin-top: 10px;
    color: #2d2d2d;
    font-style: italic;
}
